---
import { site } from "@/content/site"

const { person, about } = site
---

<article
  class="flex min-w-0 flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="order-2 min-w-0 max-w-prose text-pretty [&>p]:mb-4 [&>p>strong]:font-normal [&>p>strong]:font-mono [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 md:order-1"
  >
    {about.paragraphs.map((text) => <p>{text}</p>)}
  </div>

  <img
    width={256}
    height={256}
    src={person.aboutImageSrc}
    alt={person.aboutImageAlt}
    class="order-1 aspect-square h-auto w-full max-w-[16rem] rotate-3 rounded-2xl object-cover object-center p-1 ring-1 ring-black/70 dark:bg-yellow-500/5 dark:ring-white/20 md:order-2 md:h-full md:w-64 lg:p-2"
    loading="lazy"
  />
</article>
