---
import HeartFilled from "./icons/HeartFilled.astro"
import { site } from "@/content/site"

const currentYear = new Date().getFullYear()
const { footer, links } = site
---

<footer
  class="mx-auto mb-10 mt-16 max-w-screen-xl min-w-0 px-3 opacity-80 sm:px-4 md:max-w-2xl lg:max-w-4xl"
>
  <div
    class="mx-auto flex w-full max-w-screen-xl flex-col gap-4 rounded-lg py-4 md:flex-row md:items-center md:justify-between"
  >
    <span
      class="inline-flex items-center gap-1 text-sm text-zinc-800/90 dark:text-zinc-200/90 sm:text-center"
      >&copy; {currentYear}
      <a href={footer.creditUrl} class="font-medium hover:underline"
        >{footer.creditName}</a
      >. Hecho con <HeartFilled
        class="inline size-3.5 text-red-500"
        aria-hidden="true"
      />
      <span class="sr-only">amor</span> Casi todos los derechos reservados
    </span>
    <ul
      class="mt-0 flex flex-wrap items-center text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
<<<<<<< HEAD
        <a href="/#stack" class="me-4 hover:underline md:me-6">Stack</a>
      </li>
      <li>
        <a href="/#sobre-mi" class="me-4 hover:underline md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href={`mailto:${links.email}`} class="hover:underline">Contacto</a>
=======
        <a id="contacto" href="mailto:miduga@gmail.com" class="hover:underline"
          >Contacto</a
        >
>>>>>>> 524240e273c7222b20ff7fc4f5effb18c9a4c0f1
      </li>
    </ul>
  </div>
</footer>
