---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} mx-auto w-full min-w-0 max-w-2xl scroll-mt-28 sm:scroll-mt-32 md:scroll-mt-36 lg:max-w-4xl`}
>
  <slot />
</section>
